NEXT_PUBLIC_SUPABASE_URL=https://rlomuagxapxadefevohs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsb211YWd4YXB4YWRlZmV2b2hzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MTc4ODIsImV4cCI6MjA5MjM5Mzg4Mn0.C4YIBd11G0eCa-54RJC9ECWQVAEPk7Pkb3Nef_NkACc